:root {
  --subdued-active-opacity: 0.3;
  --spacing-base: 0.5rem;
  --spacing-loose: 1rem;
  --color-dark: #111;
  --color-dark-light: #272822;
  --color-light: #fff;
  --border-radius: 0.2rem;
}

body {
  background: var(--color-dark);
  color: var(--color-light);
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

iframe {
  width: 100%;
  background: var(--color-dark-light);
  border-radius: var(--border-radius);
  margin-top: var(--spacing-base);
}

.editors-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editors-wrapper--vertical {
  flex-direction: column;
}

.editors-wrapper--vertical .CodeMirror {
  margin: var(--spacing-base) 0;
}

.bottom-menu {
  position: absolute;
  bottom: var(--spacing-loose);
  right: var(--spacing-loose);
  display: flex;
  align-items: center;
}

.button {
  background: transparent;
  border: none;
  opacity: var(--subdued-opacity);
  border-radius: 0.5em;
  transition: opacity 0.1s ease;
  cursor: pointer;
}

.button:hover,
.button--is-active {
  opacity: var(--subdued-active-opacity);
}

.button:focus {
  outline: none;
}

.layout-icon {
  width: 2em;
}

.preview-hidden {
  display: none;
}

.result {
  font-size: 1.5em;
  height: 1em;
  margin: 0;
  margin-top: var(--spacing-loose);
}

.result span {
  position: relative;
  top: 5px;
}

.CodeMirror {
  flex-basis: calc(50% - (var(--spacing-base) / 2));
  flex-shrink: 0;
  height: auto !important;
  box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  float: left;
  border-radius: var(--border-radius);
}

.CodeMirror .CodeMirror-scroll {
  overflow: auto !important;
  padding: var(--spacing-base) 0.7rem;
  margin-bottom: 0 !important;
}
