html,
body {
  margin: 0;
}
html {
  font-size: 2vw;
}
body {
  background: #111;
  color: white;
  height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  text-align: center;
}

.editors-wrapper {
  display: flex;
}

.result {
  font-size: 1.5em;
  height: 1em;
  margin: 0;
  margin-top: 1rem;
}

.result span {
  position: relative;
  top: 5px;
}

.subdued {
  opacity: 0.15;
}

.CodeMirror {
  width: 50%;
  height: auto !important;
  box-sizing: border-box;
  text-align: left;
  font-size: 1em;
  float: left;
  margin: 0.5rem;
  border-radius: 0.2rem;
}

.CodeMirror .CodeMirror-scroll {
  overflow: auto !important;
  padding: 0.5rem 0.7rem;
  margin-bottom: 0 !important;
}
